<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>T-shirt</title>

        
    </head>
    <body>
        <h2>{{{name}}}</h2>
        <p>{{{description}}}</p>
        <img src="../images/{{{id}}}.png" height="275px" width="200px" />
        <p>Price - ${{{price}}}</p>
        <button>Buy Now</button>
    </body>
</html>